<template>
  <v-footer dark padless >
    <v-card class="flex pa-2">
      <v-btn v-for="l in links" :key="l.url" class="mx-2" icon>
      <a :href="l.url" target="_blank"><v-icon size="24px"   class="white--text">{{ l.icon }}</v-icon></a>
      </v-btn>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  name: 'Footer',
  data () {
    return {
      links: [
        { url: 'https://www.facebook.com/JoseRuGlez', icon: 'fab fa-facebook' },
        { url: 'https://www.linkedin.com/in/jos%C3%A9-luis-ruiz-gonz%C3%A1lez-265721100/', icon: 'fab fa-linkedin' },
        { url: 'https://github.com/JoseLuRu95', icon: 'fab fa-github' }
      ]
    }
  }
}
</script>

<style>
</style>
