<template>
  <div>
    <v-toolbar app dark>
      <v-toolbar-title>José Luis' Portfolio</v-toolbar-title>
      <v-spacer></v-spacer>
      <div class="d-flex justify-end pa-1 align-center" >
      <v-list-item v-for="l in links" :key="l.name" link :to="l.path">
        <div>{{ l.name }}</div>
        <v-icon class="ma-2">{{ l.icon }}</v-icon>
      </v-list-item>
      </div>
    </v-toolbar>
  </div>
</template>

<script>
export default {
  name: 'NavBar',
  data () {
    return {
      links: [
        { name: 'Home', path: '/', icon: 'fas fa-home' },
        { name: 'Projects', path: '/projects', icon: 'fas fa-project-diagram' }
      ]
    }
  }
}
</script>

<style lang="scss" scope>
.links {
  text-decoration: none;
  color: #ffffff !important;
}
</style>
