<template>
 <div>
  <div class="section-1">
    <v-container class="fill-height">
      <v-row align="center" justify="center">
        <v-col cols="4" class="d-flex flex-wrap justify-center">
          <h1 class="display-3 font-weight-bold">José Luis Ruiz</h1>
          <div class="barra"></div>
          <h2 class="display-3 font-weight-bold secondary--text">Frontend Developer</h2>
        </v-col>
      </v-row>
   </v-container>
  </div>

  <div class="section-2">
    <v-container class="fill-height">
      <v-row align="center">
        <v-col cols="12">
          <px-knowledge/>
        </v-col>
      </v-row>
    </v-container>
  </div>

  <div class="section-3">
    <v-container class="fill-height">
      <v-row align="center">
        <v-col cols="8">
          <px-works/>
        </v-col>
        <v-col cols="4">
          <px-carousel/>
        </v-col>
      </v-row>
    </v-container>
  </div>
 </div>
</template>

<script>
import PxCarousel from '@/components/PxCarousel'
import PxKnowledge from '@/components/PxKnowledge'
import PxWorks from '@/components/PxWorks'

export default {
  name: 'home',
  components: {
    PxCarousel,
    PxKnowledge,
    PxWorks
  }
}
</script>

<style lang="scss" scope>
  h1 {
    color: #0070ad;
  }
  h2 {
    color: rgb(138, 138, 138);
  }
  .barra {
    height: 0.1em;
    width: 100%;
    background: rgb(161, 161, 161);
  }

  .section-1 {
  background:linear-gradient(to right,rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.644)) , url("../assets/wallpaper.jpg") no-repeat center fixed;
  background-size: cover;
  height: 100vh;
  }
  .section-2 {
  background: #070C12;
  // background: linear-gradient(to bottom right,rgb(28, 48, 77), rgb(41, 41, 41));
  height: 90vh;
  }
  .section-3 {
  background:linear-gradient(to right,rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.644)) , url("../assets/wallpaper.jpg") no-repeat center top fixed;
  background-size: cover;
  height: 95vh;
  }
</style>
