<template>
<div>
  <v-container class="text-center">
    <h1 class="display-3 mb-8 secondary--text">My projects</h1>
  </v-container>
  <v-container class="">
  <v-carousel cycle hide-delimiter-background show-arrows-on-hover>
    <v-carousel-item v-for="(p, i) in projects" :key="i">
      <v-sheet height="100%">
        <v-row class="fill-height" align="center" justify="center">
          <v-img :src="p.url" aspect-ratio="1.2" contain></v-img>
        </v-row>
      </v-sheet>
    </v-carousel-item>
  </v-carousel>
  </v-container>
</div>
</template>

<script>
export default {
  data () {
    return {
      projects: [
        { title: 'Dust Flare Webpage', show: false, description: 'A customed webpage designed for a local music band. It use only HTML5, CSS3 and Javascript and provides all the information reletated to the band, that includes their biography, merch ,single songs and albums', url: 'https://raw.githubusercontent.com/JoseLuRu95/images-gallery/master/personal%20projects/project1.PNG' },
        { title: 'Contact App', show: false, description: 'Personal contacts SPA, this page was designed usin Angular, Node.js, Express and MondoDB (MEAN Stack). Here, user can add contacts by defining their first name, last name and birthday date', url: 'https://raw.githubusercontent.com/JoseLuRu95/images-gallery/master/personal%20projects/project2.png' },
        { title: 'Photos Gallery', show: false, description: 'Personal SPA designed using Angular, Node.js, Express and MongoDB (MEAN Stack). This app can be used to upload photos and defined their title and description, also they can be modifed once they are uploaded.', url: 'https://raw.githubusercontent.com/JoseLuRu95/images-gallery/master/personal%20projects/project3.png' },
        { title: 'ToDo App', show: false, description: 'A basic customed SPA using mainly Vue.js, Node.js and Axios for http request. This app fetch and save information in a public server and database. ', url: 'https://raw.githubusercontent.com/JoseLuRu95/images-gallery/master/personal%20projects/project4.png' }
      ]
    }
  }
}
</script>

<style>

</style>
