<template>
  <v-container class="d-flex justify-center fill-height">
    <h1 class="display-3 mb-12 secondary--text">Education and Tools</h1>
    <v-row>
      <!-- Estudios -->
      <v-col md7 class="d-flex align-center justify-end" >

        <v-card outlined class="mr-4">
          <v-list-item three-line>
            <v-list-item-content>
              <div class=" mb-4">2013 - 2018</div>
              <v-list-item-title class="headline mb-3">Mechatronic Engineer</v-list-item-title>
              <v-list-item-subtitle class="black--text mb-2">Meritorious Autonomous University of Puebla</v-list-item-subtitle>
              <v-list-item-text>
                <ul>
                  <li>HTML/CSS: Of all markup languages, HyperText Markup Language (HTML) is the standard.</li>
                  <li>Language C++ and JavaScipt: JavaScript is a higher level programming language. It makes websites more interactive and functional.</li>
                  <li>Responsive Desing: Make websites for optimal user experience</li>
                </ul>
              </v-list-item-text>
            </v-list-item-content>
              <v-avatar tile  size="80"><v-img src="@/assets/job4.png"></v-img></v-avatar>
          </v-list-item>
        </v-card>

      </v-col>
      <!-- Conocimientos -->
      <v-col cols="5" class="d-flex flex-column justify-start">
        <v-card max-width="344" class="mb-4">
          <v-card-title class="headline black--text">Frontend Tools</v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="4" class="d-flex justify-center">
                  <v-icon size="64px" class="blue--text">fab fa-html5</v-icon>
                </v-col>
                <v-col cols="4" class="d-flex justify-center">
                  <v-icon size="64px" class="orange--text">fab fa-css3-alt</v-icon>
                </v-col>
                <v-col cols="4" class="d-flex justify-center">
                  <v-icon size="64px" class="yellow--text">fab fa-js-square</v-icon>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
        </v-card>
        <v-card max-width="344" class="mb-4">
          <v-card-title class="headline black--text">Frameworks</v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="6" class="d-flex justify-center">
                  <v-icon size="64px" class="red--text">fab fa-angular</v-icon>
                </v-col>
                <v-col cols="6" class="d-flex justify-center">
                  <v-icon size="64px" class="green--text">fab fa-vuejs</v-icon>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
        </v-card>
        <v-card max-width="344" class="mb-4">
          <v-card-title class="headline black--text">Backend Tools</v-card-title>
          <v-card-text>
            <v-container>
              <v-row >
                <v-col cols="6" class="d-flex justify-center">
                  <v-icon size="64px" class="green--text">fab fa-node</v-icon>
                </v-col>
                <v-col cols="6" class="d-flex justify-center">
                  <v-icon size="56px" class="blue--text">fas fa-database</v-icon>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'PxKnowledge'
}
</script>

<style>

</style>
