<template>
  <div>
    <v-row class="d-flex justify-center">
      <h1 class="display-3 secondary--text mb-4">Work Experience</h1>
    </v-row>

    <v-row class="d-flex justify-center fill-height">
    <v-timeline :reverse="reverse" :dense="$vuetify.breakpoint.smAndDown">
      <v-timeline-item v-for="w in works" :key="w.company">
        <span slot="opposite" class="white--text">{{ w.time }}</span>

        <v-card outlined class="mr-4">
          <v-list-item three-line>
            <v-list-item-content>
              <v-list-item-title class="headline mb-3">{{ w.company}}</v-list-item-title>
              <v-list-item-subtitle class="black--text mb-2">{{ w.description }} </v-list-item-subtitle>
            </v-list-item-content>
              <v-avatar tile size="80"><v-img :src="`@/assets/`+ path" contain></v-img></v-avatar>
          </v-list-item>
        </v-card>

      </v-timeline-item>
    </v-timeline>
    </v-row>
  </div>
</template>

<script>
export default {
  data () {
    return {
      path: 'job2.png',
      works: [
        { company: 'JB Grupo Empresarial', time: 'January 2020 - currently', description: 'Frontend Programmer', img: 'https://raw.githubusercontent.com/JoseLuRu95/images-gallery/master/jb-grupo.jpg' },
        { company: 'Tenneco Walker', time: 'February 2019 - August 2019', description: 'Engineering Process Intern', img: 'https://raw.githubusercontent.com/JoseLuRu95/images-gallery/master/tenneco.png' },
        { company: 'APASA S.A. de C.V.', time: 'August 2018 - December 2018', description: 'Engineering Process Intern', img: 'https://raw.githubusercontent.com/JoseLuRu95/images-gallery/master/apasa.jpg' },
        { company: 'CUV y TT', time: 'August 2017 - February 2018', description: 'Social Service', img: 'https://raw.githubusercontent.com/JoseLuRu95/images-gallery/master/buap.png' }
      ]
    }
  }

}
</script>

<style>

</style>
