<template>
  <v-app>
    <NavBar/>
    <div>
      <router-view/>
    </div>
    <Footer/>
  </v-app>
</template>

<script>
import NavBar from '@/components/layout/NavBar'
import Footer from '@/components/layout/Footer'
export default {
  components: {
    NavBar,
    Footer
  }
}
</script>
